/*TabPane*/
.tab-pane {
    -fx-tab-min-width:20px;
    -fx-tab-max-width:150px;
    -fx-tab-pref-width:150px;
}

.tab{
    -fx-background-color: white;
}

.tab:selected .focus-indicator {
    -fx-border-radius: 10 10 0 0 ;
}

.tab:selected {
    -fx-opacity: 0.8;
    -fx-background-color: lightgray;
    -fx-text-fill: black;
}

.tab-header-area .tab{
    -fx-background-radius: 10 10 0 0;
}

.scroll-bar {
    -fx-border-width: 0;
    -fx-background-color: #efefef;
}

.scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: #efefef;
    -fx-opacity: 0.5;
}

/*ToolBar*/
.button {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 18 18;
    -fx-background-position: center;
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-border-radius: 10%;
    -fx-background-radius: 10%;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.button:hover {
    -fx-background-color: #efefef;
    -fx-border-width: 1px;
    -fx-border-color: gray;
}

#back {
    -fx-background-image: url('../media/back.png');
}

#forward {
    -fx-background-image: url('../media/forward.png');
}

#refresh {
    -fx-background-image: url('../media/refresh.png');
}

#homepage {
    -fx-background-image: url('../media/homepage.png');
}

#search {
    -fx-background-image: url('../media/search.png');
}

#setting {
    -fx-background-image: url('../media/setting.png');
    -fx-pref-width: 100px;
    -fx-background-size: 22 22;
    -fx-background-position: left center;
}

.text-field {
    -fx-border-width: 0;
    -fx-background-color: #efefef;
    -fx-pref-width: 450px;
}

.progress-bar {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 5%;
    -fx-accent: lightgreen !important;
}