.button {
    -fx-background-color: lightblue;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
}

.button:hover {
    -fx-opacity: 0.6;
}

.text-field {

    -fx-pref-width: 450px;
}

.page_view {
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
    -fx-border-color: black;
}